<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <script src="index.js" defer></script>
  <script src="https://unpkg.com/petite-vue" defer init></script>
</head>

<body v-scope>
<main class="container">
  <div v-for="group in data" :key="group.id">
    <table>
      <thead>
      <tr>
        <th>Имя</th>
        <th>Время</th>
        <th>Telegram</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="el in group" :key="el.id">
        <td>{{ el.name }}</td>
        <td style="width: 200px">{{ el.availableTime.from }} - {{ el.availableTime.to }}</td>
        <td style="width: 200px">{{ el.tgUsername }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
</body>
</html>
